.title {
    color: darkcyan;
    font-weight: 500;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.body-main {
    background-color: bisque;
}

.accordion-button {
    background-color: lightseagreen;
}

.row {
    padding-top: 20px;
}

.card-body {
    background-color: aquamarine;
}

.footer {
    padding-top: 20px;
}